**Basics**
* Exercise 1.1: The Interpreter

In [1]:
#a
3+1

4

In [2]:
#b
3*3

9

In [3]:
#c
2**3

8

In [4]:
#d
"Hello,world!"

'Hello,world!'

In the exercises 1a,1b and 1c, the interpreter simply acts as an calculator and does the calculations regarding the operators given in the code. (The ** acts as an exponentiation operation, exponentiation raises the base to the power of the exponent thus the answer is 8.
In 1d, the output string is Hello, world!

* Exercise 1.2: Scripts

It executes from top to bottom. So the output is solely, 'Hello,world!. In order the fix this problem, the print function should be used for each line.

* Exercise 1.3: More Interpreter

In [5]:
#a
'py' + 'thon'

'python'

In [6]:
#b
'py'*3+'thon'

'pypypython'

In [7]:
#c
'py'-'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
#d
'3'+3

In [ ]:
#e
3*'3'

In [ ]:
#f
a

In [ ]:
#g
a=3

In [ ]:
#h
a

In python, for concatenation, the + operator could be used, as well as the * operator could be use for the multiplication. However, the - is an unsupported operand. The concatenation of a string and an integer is not supported. When we are declaring a variable, we have to set it to a value.

* Exercise 1.4:Booleans

In [1]:
#a
1==1

True

In [ ]:
#b
1==True

In [2]:
#c
0==True

False

In [ ]:
#d
0==False

In [4]:
#e
3==1*3

True

In [3]:
#f
(3==1)*3

0

In [5]:
#g
(3 == 3) * 4 + 3 == 1

False

In [6]:
#h
3**5 >= 4**4

False

In a, 1 is equal to 1 so it returns the boolean true value. In b, the result is true since default 1 is true. In c, the default 0 is false so the result is False and thus, in d the result is true. In e, 3==3 is True. In f,3==1 is false so the value is 0 and thus the out put is also 0. In g, 1x4=4 and + 3 is 7 so it is not equal to 1 so the output is false. Lastly in h, 15 is not greater or equal to 256 so the output is false.

* Exercise 1.5: Integers

In [ ]:
#a
5/3

In [ ]:
#b
5%3

In [ ]:
#c
5.0/3

In [ ]:
#d
5/3.0

In [7]:
#e
5.2%3

2.2

In [8]:
#f
2001**200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

a,c,d = output defaults to floating point division
b= The remainder thus the output is 2.
e= Remainder of a float value
f= The output is a large number, the result of 2001^200.

* Exercise 1.6: Floats

In [ ]:
#a
2000.3 ** 200

In [9]:
#b
1.0 + 1.0 - 1.0

1.0

In [24]:
#c
1.0 + 1.0e20 - 1.0e20

0.0

a=the small multiplication seems to be 3.1565130025242204E + 261), it has overflowed when used in 2000.3
b= The 1.0's cancels each other out so the result is 1.0
c= Since 1.0e20 is relatively large, 1.0 is ignored.

* Exercise 1.7: Variables

In [ ]:
x='John Doe' #the variable that holds the name with a string
print("Hello,"+ x+'!')

* Exercise 1.8: Type Casting

In [10]:
#a
float(123) #convers the integer to a float type.

123.0

In [12]:
#b
float('123') #converts the string typee into a float type.

123.0

In [ ]:
#c
float('123.23') #converts 123.23 string to single precision floating point

In [13]:
#d
int(123.23) #converts the float type to integer type.

123

In [14]:
#e
int('123.23') #invalid literal error since its a float number.

ValueError: invalid literal for int() with base 10: '123.23'

In [15]:
#f
int(float('123.23')) #The right interpretation for example d.

123

In [16]:
#g
str(12) #converts integer to a string.

'12'

In [ ]:
#h
str(12.2) #converts float to a string.

In [17]:
#i
bool('a') #converted string to boolean number, ASCII is not 0

True

In [18]:
#j
bool(0) #converted to a boolean type since 0 is false by default, it returns false.

False

In [19]:
#k
bool(0.1) #Translate floating point numbers to Boolean, it is true since it is bigger than 0.

True

**Control Flow**
* Exercise 2.1: Range

In [ ]:
range(5)

In [ ]:
type(range(5))

The range function is a built-in python function which generates a sequence of numbers.It takes two parameters and generates the sequence of numbers in this *range*
The range function could also takes a step parameter. For i in range represents each element of this sequence of numbers.

* Exercise 2.2: For loops

In [ ]:
#a
for a in range(101):
    print(a)

In [ ]:
#b
a=range(101) #The numbers from 0-100.
for i in a:
    if i%7==0: #I have used the % operator which is the remainder operator in order to select the numbers within the range that are divisible by 7.
        print(i)

In [ ]:
#c
a= range (1,101)

for i in a:
    if i%5==0 and i%3!=0: #divisible by 5 but not by 3.
        print(i)

In [ ]:
#d
a= range(2,20)
x=[]
for i in a:
    c=0
    for j in range (1,i):
        if i%j==0:
            c+=1
    if c==1:
        x.append(i)
print(x)

* Exercise 2.3: Simple while loops

In [ ]:
#a
x = 1
while x <= 100:
    print(x)
    x = x+1

In [ ]:
#b
x=1
while x <= 100:
    x=x+1
    if x%7==0:
        print(x)

* Exercise 2.4: Hangman update 1

* Exercise 2.5: While Loops

In [ ]:
c=0
x=11
while c<20:
    if x%5==0 and x%7==0 and x%11==0:
        print(x)
        c=c+1
    x=x+1

* Exercise 2.6: More while loops

In [20]:
c= 0
x = 10
while (c== 0):
    if (x%1==0 and x%2==0 and x%3==0 and x%4==0 and x%5==0 and x%6==0 and x%7==0 and x%8 ==0 and x%9 == 0 and x%10==0):
            print(x)
            c += 1
    x += 1

2520

* Exercise 2.7: Collatz sequence

In [23]:
collatz = int(103) # "Print the Collatz sequence starting at x0 = 103."
while (collatz!=1):
    if (collatz % 2 == 1): 
        collatz = 3 * collatz + 1
        print (collatz)
    elif (collatz % 2 == 0):
        collatz = collatz / 2
        print (collatz)

310
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

**Functions**

* Exercise 3.1: Hello

In [25]:
#a
def sayhello():
    print("Hello, world!")

In [26]:
#b
def hello_name(name):
    print("Hello, "+ name + "!")

c
Printing is the process of displaying a value in the console. 
Returning is used to return a value from a function and exits the function.

* Exercise 3.2: Polynomial

In [34]:
def p(x):
    return 3x**2-x+2

SyntaxError: invalid syntax (<ipython-input-34-1383fbd9cd57>, line 2)

* Exercise 3.3: Maximum

In [27]:
#a
def my_max(x, y):
    if x > y:
        return x
    elif y >  x:
        return y

In [28]:
#b We could only use if in this part of the question.
def my_max(x, y):
    if x >= y:
        return x
    return y

* Exercise 3.4: Primes

In [35]:
#a
def is_prime(n):
    if (n <= 1):
        return False
    n = int(n)
    isPrime = True;
    for i in range(2, n):
        if (n%i==0):
            isPrime = False
            return isPrime
    return isPrime

In [36]:
#b
def is_prime_6(n):
    if ((n-1)%6 == 0):
        if (n <= 1):
            return False
        n = int(n)
        isPrime = True;
        for i in range(2, n):
            if (n%i==0):
                isPrime = False
                return isPrime
        return isPrime
    return False

In [37]:
#c
def print_primes(n):
    for i in range (0, n):
        if (is_prime(i)):
            print(i)

In [38]:
#d
def first_primes(n):
    count = 0
    test = 0
    while n > count:
        if (is_prime(test)):
            print (test)
            count += 1
            test += 1
        else:
            test += 1

* Exercise 3.5: Root finding

In [39]:
#a
def root(f,a,b):
    if (f(a) == f(b)):
        c = f(a)
        return c

In [40]:
#b
def root(f,a,b):
    if (f(a) == f(b)):
        c = f(a)
        return c

In [41]:
#c
def root(f,a,b):
    if f(a) > 0 and f(b) > 0:
        print ("function evals have the same sign")
    elif f(a) < 0 and f(b) < 0:
        print ("function evals have the same sign")
    elif (f(a) == f(b)):
        c = f(a)
        return c